.header{
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #dddddd;
  background-color: #b39db8;
  font-family: Verdana, Georgia, Helvetica; 
}

body {
  background-color: #b6aab8;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
  color: #171717;
  font-family: Verdana, Georgia, Helvetica;
  margin: 10% 20%;
  margin-bottom: 500px
}

.pro-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

.header-image{
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.pro-education {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

.pro-skills {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

footer {
  text-align: center;
  font-family: Verdana, Georgia, Helvetica;
  font size: 8px;
  border: 1px solid #dddddd;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray; 
}

h5{
  color: #120042;
}
